/**
*
* CARI APA MAS? HANYA UNTUK SENANG SENANG KOK!
*
*/

@import url("https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&display=swap");

:root {
  --text-color: #54372c;
  --placeholder-color: #635445c6;
  --typo1: "Elsie Swash Caps", sans-serif;
  --typo2: var(--typo2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: var(--typo2);
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden;
}

#app {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background: url(assets/images/bg.jpg) no-repeat center top;
  background-size: cover;
  .bgtop,
  .bgbot {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .bgtop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .bgbot {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    z-index: 2;
  }
  .particles,
  .particles1 {
    position: absolute;
    bottom: -0.5rem;
    right: 0;
    opacity: 0.2;
    animation: particles1 5s cubic-bezier(0.12, 0, 0.39, 0) 1s infinite
      alternate-reverse forwards;
    @keyframes particles1 {
      0% {
        transform: translate(0);
      }

      20% {
        transform: translate(-2px, 2px);
      }

      40% {
        transform: translate(-2px, -2px);
      }

      60% {
        transform: translate(2px, 2px);
      }

      80% {
        transform: translate(2px, -2px);
      }

      100% {
        transform: translate(0);
      }
    }
    img {
      max-width: 200px;
      height: auto;
    }
  }
  .particles1 {
    left: 0;
    bottom: 0;
    img {
      max-width: 250px;
    }
  }

  .head {
    color: var(--text-color);
    padding-top: 7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    position: relative;
    z-index: 3;

    h1 {
      font-family: var(--typo1);
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
    }

    p {
      font-family: var(--typo2);
      font-weight: 600;
    }
  }

  .content {
    position: relative;
    z-index: 3;

    .form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0 1.5rem;

      label,
      input {
        font-family: var(--typo2);
      }

      label {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--text-color);
      }

      input {
        padding: 1rem 2rem;
        border: 3px solid var(--text-color);
        border-radius: 1rem;
        background: transparent;
        font-size: 1.2rem;
        font-weight: 600;
        outline: none;
        color: var(--text-color);

        &::placeholder {
          color: var(--placeholder-color);
        }
      }

      button {
        padding: 1rem 2rem;
        border: 3px solid var(--text-color);
        border-radius: 1rem;
        background: var(--text-color);
        color: #fff;
        font-size: 1.2rem;
        font-weight: 600;
        font-family: var(--typo2);
        cursor: pointer;
        &:disabled {
          opacity: 0.75;
          cursor: not-allowed;
        }
      }
    }
  }

  .foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 3;
    position: relative;

    p {
      font-family: var(--typo2);
      color: var(--text-color);
      font-weight: 600;
    }

    a {
      padding: 0.5rem 2rem;
      border: 3px solid var(--text-color);
      border-radius: 0.75rem;
      background: var(--text-color);
      color: #fff;
      font-size: 1rem;
      font-weight: 600;
      font-family: var(--typo2);
      text-decoration: none;
      line-height: 1.5;
    }
  }
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  padding: 2rem;
  text-align: center;
  .popup-header {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    h2 {
      font-size: 1.6rem;
      font-weight: 600;
      color: var(--text-color);
    }
    p {
      font-size: 0.9rem;
    }
  }
  .popup-content {
    margin: 2rem 0;
    .results {
      font-family: var(--typo1);
      background: #f1f1f180;
      color: var(--text-color);
      padding: 1rem;
      border: 3px dashed var(--text-color);
      font-size: 1.3rem;
      font-weight: 700;
    }
  }
  .close-btn {
    background-color: var(--text-color);
    color: #fff;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
  z-index: 100;
}
.loading {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 4px;
  width: 130px;
  --c: no-repeat linear-gradient(var(--text-color) 0 0);
  background: var(--c), var(--c), #fff;
  background-size: 60% 100%;
  animation: loading 3s infinite;
  z-index: 101;
  @keyframes loading {
    0% {
      background-position: -150% 0, -150% 0;
    }
    66% {
      background-position: 250% 0, -150% 0;
    }
    100% {
      background-position: 250% 0, 250% 0;
    }
  }
}
.show {
  display: block;
}
